/* STYLE FOR PAGEDOWN */

/*  EDITOR MODAL BOX */
.wmd-prompt-background {
  background-color: Black;
}

.wmd-prompt-dialog {
  border: 1px solid #999999;
  background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
  font-size: 0.8em;
  font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog > form > input[type="text"] {
  border: 1px solid #999999;
  color: black;
}

.wmd-prompt-dialog > form > input[type="button"] {
  border: 1px solid #888888;
  font-family: trebuchet MS, helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}

/* // TEXT EDITOR */
.wmd-panel {
  width: 80%;
  .wmd-button-bar {
    width: 100%;
    background-color: Silver;
  }
  #wmd-input {
    width: calc(100% - 20px);
    min-height: 150px;
    height: auto;
    padding: 10px;
    font-family: sans-serif;
    resize: none;
    overflow-y: hidden;
  }
}

.wmd-button-row {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px;
  height: 20px;
}

.wmd-spacer {
  width: 1px;
  height: 20px;
  margin-left: 14px;
  position: absolute;
  background-color: Silver;
  display: inline-block;
  list-style: none;
}

.wmd-button {
  width: 20px;
  height: 20px;
  padding-left: 2px;
  padding-right: 3px;
  position: absolute;
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

.wmd-button > span {
  background-image: url(http://aymdev.ninja/blog/asset/rsc/pagedown-master/wmd-buttons.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.wmd-spacer1 {
  left: 50px;
}

.wmd-spacer2 {
  left: 175px;
}

.wmd-spacer3 {
  left: 300px;
}




/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */

pre.prettyprint {
  padding: 20px 50px !important;
  overflow-x: scroll;
}

.prettyprint {
  background: #2f3640 !important;
  border: 0 !important;
  * {
    font-family: monospace !important;
  }
  code {
    padding: 0 !important;
  }
  /* Specify class=linenums on a pre to get line numbering */
  ol.linenums {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    color: #656d78 !important;
  }
  li.L0,
  li.L1,
  li.L2,
  li.L3,
  li.L4,
  li.L5,
  li.L6,
  li.L7,
  li.L8,
  li.L9 {
    padding-left: 1em !important;
    background-color: #2f3640 !important;
    list-style-type: decimal !important;
  }
  .pln {
    color: #e6e9ed !important;
  }
  @media screen {
    /* string content */
    .str {
      color: #ffce54 !important;
    }
    /* keyword */
    .kwd {
      color: #4fc1e9 !important;
    }
    /* comment */
    .com {
      color: #656d78 !important;
    }
    /* type name */
    .typ {
      color: #4fc1e9 !important;
    }
    /* literal value */
    .lit {
      color: #ac92ec !important;
    }
    /* punctuation */
    .pun {
      color: #e6e9ed !important;
    }
    /* lisp open bracket */
    .opn {
      color: #e6e9ed !important;
    }
    /* lisp close bracket */
    .clo {
      color: #e6e9ed !important;
    }
    /* markup tag name */
    .tag {
      color: #ed5565 !important;
    }
    /* markup attribute name */
    .atn {
      color: #a0d468 !important;
    }
    /* markup attribute value */
    .atv {
      color: #ffce54 !important;
    }
    /* declaration */
    .dec {
      color: #ac92ec !important;
    }
    /* variable name */
    .var {
      color: #e6e9ed !important;
    }
    /* function name */
    .fun {
      color: #e6e9ed !important;
    }
  }
}


/* CUSTOM STYLE FOR THE PREVIEW */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

/* // GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Questrial');
$Questrial: 'Questrial', sans-serif;

/* // COLORS */
$blue: #7086f1;
$yellow: #ffee5a;

#wmd-panel {
  width: 90%;
  padding: 5vh 5%;
}

#wmd-preview {
  width: 80%;
  padding: 5vh 10%;
  * {
    width: 100%;
    font-family: $Questrial;
  }
  h1 {
    text-decoration: underline;
    color: $blue;
  }
  h2 {
    color: $blue;
  }
  p {
    margin-bottom: 1vh;
    line-height: 1.5rem;
    a {
      color: lighten($blue, 10);
      &:hover {
        color: darken($blue, 10);
      }
    }
    code {
      padding: 1px !important;
    }
  }
  .prettyprint {
    width: calc(100% - 100px);
    overflow-x: scroll;
  }
  blockquote {
    border-left: 2px solid #888;
    padding: 5px 15px;
    margin: 5px 0;
    background: lighten($yellow, 15);
  }
}
	