<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
 	<typeAliases> 
		
		<typeAlias type="com.sweetk.kwu.data.vo.DataVo" 			alias="DataVo"/>
		<typeAlias type="com.sweetk.kwu.common.vo.CommonVo" 		alias="CommonVo"/>
		<typeAlias type="com.sweetk.kwu.practice.vo.PracticeVo" 	alias="PracticeVo"/>
		<typeAlias type="com.sweetk.kwu.lecture.vo.LectureVo" 	alias="LectureVo"/>
	</typeAliases>
	
</configuration>